<script src="{{ "js/jquery-3.7.1.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "js/fullpage.min.js" | relURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>
<script src="{{ "js/panzoom.min.js" | relURL }}"></script>
<script src="{{ "js/zoom.js" | relURL }}"></script>
<script src="{{ "js/news.js" | relURL }}"></script>
<script src="{{ "js/home.js" | relURL }}"></script>
<script src="{{ "js/about-us.js" | relURL }}"></script>
<script src="{{ "js/campus.js" | relURL }}"></script>
<script src="{{ "js/swiper-bundle.min.js" | relURL }}"></script>
<script src="{{ "js/swiper.js" | relURL }}"></script>
<script src="{{ "js/loading.js" | relURL }}"></script>
